.navbar {

    background-color: white;

    .dropdown-menu {
        background-color: white;
    }

    .navbar-brand img {
        height: 64px;
        transition: 0.5s;

        &:hover {
            transform: scale(1.3);
        }

    }
}


#menu a {
    font-size: 18px;
    font-weight: bold;
    color: $color-font;
}

.titulo {
    font-family: $font-general;
    color: $color-font;
    font-weight: bold;
    text-align: center;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;

    &:hover {
        transform: scale(1.1);
    }
}